#formLog{
    text-align: center;
    background-color: gray;
    padding-bottom: 1%;
    
}

#resultado{
    text-align: center;
    color: red;
}

.centralizar{
    margin-top:4%;
    text-align: center;
}

a{
    color: blue;
    text-decoration: none;
}